.home-page{
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-page img {
  filter: blur(5px);
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.buttonFight{
  background-color: var(--red);
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
}

.buttonBestiary{
  background-color: var(--green);
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.buttonInventory{
  background-color: var(--blue);
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.button-containers{
  display: flex;
  z-index: 100;
}
