.home-page{
  width: 100%;
  min-height: 100vh;
  background-image:url("https://gameinformer.com/sites/default/files/styles/content_header_extra_max/public/2024/05/20/78f82575/udpateheaderswitch_papermario_thethousandyeardoor_keyart.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
