.theater{
  width: 100%;
  min-height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  object-fit: fill;
  z-index: -1;
}

.theaters {
  width: 100vw;
  height: 100vh; /* Utilise height fixe au lieu de min-height */
  position: fixed; /* 'fixed' est plus stable pour un arrière-plan */
  top: 0; /* On remet à 0 pour éviter le dépassement */
  z-index: -1;
}

.position-player{
  position: absolute;
  bottom:7.5vw;
  left:23vw;
}
.retourne{
  transform: rotateY(180deg);
}
.position-bot{
  position: absolute;
  bottom:7.5vw;
  right:43vw;
}
button{
  width: 20vh;
  height: 10vh;
  background-color: white;
  border:#B22222;
  border-radius: 10px;
}
button:hover{
  cursor: pointer;
  background-color: whitesmoke;
}
.div_widthmax12{
  width:9vw;
}
.barre_de_vie_player{
  border: 0;
  width:100%;
  height: 1vw;
  border-radius: 10vw;
  background: white;
  position: absolute;
  left:-7vw;
}
.barre_actuel{
  border: 0;
  border-radius: 10vw;
  width:calc(var(--health)* 1%);
  height: 100%;
  background: red;
  position: absolute;
}
.barre_de_vie_bot{
  border: 0;
  width:100%;
  height: 1vw;
  border-radius: 10vw;
  background: white;
  position: absolute;
  left:27vw;
}
.card-attack{
  border: 0.5vw solid darkred;
  background-color: black;
  width:20.5vw;
  height:18vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:17vw;
}
.line_scroll{

  overflow-y: auto; /* Active le scroll si ça dépasse */
  display: flex;
  flex-flow:row wrap;
  gap: 1vw;
  position: relative ;
  left:-0.5vw;
  /* Espace entre les boutons */

  /* Masquer la barre de scroll par défaut pour le style (optionnel) */
  scrollbar-width: thin;
  scrollbar-color: #800000 black;
}
.attacks-card{
  width: 40%;
  min-height: 4vw; /* Pour qu'il y en ait environ 6 de visibles */
  background: white;
  position: relative;
  left: 0.6vw;
}
.attacks-card:hover{
  cursor: pointer;
  background-color:navajowhite;
}
.title-attack{
  position: absolute;
  left:5vw;
  top:14vw;
  color:white;
}
.card-logs{
  border: 0.5vw solid white;
  background-color: whitesmoke;
  width:20.5vw;
  height:18vw;
  opacity: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:17vw;
  left:80vw;
}
.home-button{
  width: 10vh;
  height: 5vh;
  background-color: #BD3039;
  border:#B22222;
  border-radius: 10px;
  position:absolute;
  margin: 2vw;
}
.home-button:hover{
    cursor: pointer;
    background-color: #8B0000;
}
.image_size{
  max-width: 30vw;
  max-height: 30vw;
}
.card-item{
  border: 0.5vw solid #cdb51b;
  background-color: #f1c71a;
  width:10.5vw;
  height:6vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:40vw;
  left:2vw;
}
.item{
  width: 90%;
  min-height: 4vw; /* Pour qu'il y en ait environ 6 de visibles */
  background: white;
  position: relative;
  left: 0.6vw;
}
.item:hover{
  cursor: pointer;
  background-color:navajowhite;
}
.item:focus{
  background-color: green;
}
.line_scroll_item{

  overflow-y: auto; /* Active le scroll si ça dépasse */
  display: flex;
  flex-flow:row wrap;
  gap: 1vw;
  position: relative ;
  left:-0.5vw;
  /* Espace entre les boutons */

  /* Masquer la barre de scroll par défaut pour le style (optionnel) */
  scrollbar-width: thin;
  scrollbar-color: #cdb51b black;
}
.Fp_card{
  border: 0.5vw solid green;
  background-color: Black;
  width: 12vw;
  position: absolute;
  top:7vw;
}
.FP_Title{
  color: white;
}
