.theater{
  width: 100%;
  min-height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  object-fit: fill;
  z-index: -1;
}

.theaters {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: -50px;
  z-index: -1;
}

.position-player{
  position: relative;
  top:37vw;
  left:25vw;
}
.retourne{
  transform: rotateY(180deg);
}
.position-bot{
  position: relative;
  top:30vw;
  left:65vw;
}
