.Background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.wallpaper img{
  position: fixed ;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}
.viewport{
  width: 100%;
  min-height: 100vh;
}
.card-inscription{
  background: rgba(255,255,255,0.6);
  width: 30vw;
  height: 30vw;
  border-radius: 15px;
  border: 3px solid white;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input{
  margin:0.5vw;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.4); /* Fond sombre transparent */
  border: 2px solid rgba(0, 123, 255, 0.2); /* Bordure bleue translucide */
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}
.input:hover {
  border-color: rgba(0, 123, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
}
.button{
  margin:2vw;
  background-color: rgba(0, 123, 255, 0.8);
  border: none;
  width: 5vw;
  height: 2.5vw;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
}
.button:hover{
  background-color: rgba(0, 140, 255, 0.8);
  cursor: pointer;
}
.Title{
  margin:0.5vw;
}
.Inscription{
  margin:0.5vw;
  width: 100%;
  text-align: center;
}
.Home-button{
  background-color: #007BFF;
  width: 10vh;
  height: 5vh;
  color: white;
  border: none;
  border-radius: 0.5vw;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1vw;
}
.Home-button:hover{
  background-color: rgba(0, 140, 255, 0.8);
  cursor: pointer;
}
