*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
/* You can add global styles to this file, and also import other style files */

:root {
  --green: #12c612;
  --blue: #00bcd4;
  --red: #d82436;
}
